on:
  workflow_dispatch:
  schedule:
    - cron:  '*/5 * * * *'
name: update content folder
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: Cache Lockbook Data
        uses: actions/cache@v4
        with:
          key: 'lockbook'
          path: ~/.lockbook
      - name: install lockbook
        run: |
          mkdir -p $HOME/bin
          curl -L https://github.com/lockbook/lockbook/releases/download/25.10.13/lockbook-cli-linux -o $HOME/bin/lockbook
          chmod +x $HOME/bin/lockbook
          echo "$HOME/bin" >> $GITHUB_PATH
      - name: login to lockbook
        env:
          SECRET: ${{ secrets.LB_ACCOUNT_SECRET }}
        run: |
          echo $SECRET | lockbook account import
          lockbook sync
      - name: update content
        run: |
          rm -rf parth.cafe src
          mkdir src
          lockbook export parth.cafe .
          mv parth.cafe/* src
      - name: commit changes
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          if git diff --quiet; then
            echo "No changes to commit"
          else
            git add -A && git commit -m "automated content update" && git push origin master
          fi
  call_publish:
    needs: build
    uses: ./.github/workflows/deploy.yml
